<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallerie Photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="main">
    <!-- List ion-thumbail  -->
    <div *ngFor="let urlPhoto of photoService.listPhoto">
      <app-afficher-photo [photo]="urlPhoto"></app-afficher-photo>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="buttonOuvrirCamera()">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>